<header class="site-header">
    <div class="container">
        <nav class="nav">
            <a href="{{ '/' | relative_url }}" class="site-logo">
    <img src="{{ '/Logo_image.png' | relative_url }}" alt="{{ site.title }}">
</a>
            <div class="nav-links">
                <a href="{{ '/#about' | relative_url }}" class="nav-link">About</a>
                <a href="{{ '/#guides' | relative_url }}" class="nav-link">Guides</a>
                <a href="mailto:jesse@craftsmanleadership.com" class="nav-link">Contact</a>
            </div>
        </nav>
    </div>
</header>
